<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014 - 2018</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">Lbs Institute Trivandrum
               </h4>
               <ul>
                <li> The LBS Institute of Technology for Women,the only engineering college for 
                    women in the Government sector in the state of Kerala is AICTE Approved</li>
                    <li>Completed B.Tech in Applied Electonics and Instrumentation Engineering with <b>7.24</b> CGPA.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2012 - 2014</p>
              <div class="h5">Twelth</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">Chinmaya Vidyalaya, Vazhuthacaud, Thiruvananthapuram, Kerala.


               </h4>
               <ul>
                <li>
                  focused on science fundamentals.
                                  </li>
                                  <li>
                                     There was  a good base on physics, mathematics and chemistry.
                                  </li>
                                  <li>
                                      Completed my 12th with<b> 86%</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2012</p>
              <div class="h5">Tenth</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">Saraswathi Vidyalaya
               </h4>
               <ul>
                <li>The high school aims at Maths , English , Science, Social Science, Litrature and Languages.
                </li>
               
                <li>
                    Completed my Secondary school with <b>86%</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
